.container{
    display: flex;
    justify-content: center;
    gap: 60px;
   
    .button-con{
        display: flex;
        justify-content: space-between;
        gap: 15px;
        align-items: center;
    }
    h2{
        margin: 10px 0;
    }
    .wrong{
        color: red;
    }
}
